/* General layout */
#userdashboard-wrapper > div {
    display: inline-block;
}

#userdashboard,
#user-roles-chart,
#graph-wrapper {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

/* User list by roles */
.user-list {
    margin: 0;
    padding: 0;
}

.user-list li {
    list-style: none;
    padding: .5rem 1rem;
}

.user-list li:nth-child(odd) {
    background-color: #d7d7d7;
}

.user-list .roles {
    float: right;
    display: inline-block;
}

#userdashboard .controls {
    margin: 1rem 0;
}

/* Forms and general items */

input[type="text"],
input[type="email"],
time {
    box-sizing: border-box;
    border: 1px solid #bfbfbf;
    line-height: 2rem;
    padding: 0 .25rem;
    height: 2rem;
    display: block;
    width: 100%;
}

#userdashboard-wrapper button {
    background-color: #0e69be;
    color: white;
    padding: .5rem 1rem;
    border: none;
    border-radius: 25px;
    margin: .25rem .25rem .25rem 0;
    transition: all .3s;
}

#userdashboard-wrapper button:hover {
    background-color: #0e4080;
}

/* Chart styles */

#user-roles-chart {
    padding: 0 2rem;
}



