<!Doctype html>
<html>
<head>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="bower_components/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="js/user-dashboard-app.js"></script>
</head>

<body>
<h1>Backbone</h1>

<!--<div id="nodes"></div>-->

<!--<script id="nodeTemplate" type="text/template">-->
    <!--<% _.each(nodes, function(node) { %>-->
    <!--<div class="node">-->
       <!--<% console.log(node); %>-->
    <!--</div>-->
    <!--<% }); %>-->
<!--</script>-->

</body>
</html>