<!Doctype html>
<html>
<head>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="bower_components/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="js/user-dashboard-app.js"></script>
</head>

<body>
<h1>Backbone</h1>

<!-- Template of the Users View -->
<script type="text/template" id="usersTemplate">
    <% _.each(users, function (user) { %>
    <div class="user">
        <p>@<%= user.id %></p>
        <!--<p class="text"><%= user %></p><p><%= user %></p>-->
    </div>
    <% }); %>
</script>

</body>
</html>